<div class="top-bar col-md-12">
    <h1> Budget Calculator </h1>
</div>

<section class="total-budget-section">
    <h2 [ngClass]="{ 'red': totalBudget < 0, 'green': totalBudget > 0  }">{{ totalBudget }}</h2>
</section>

<section class="add-item-section">
    <div class="add-item-container">
        <app-add-item-form style="padding: 20px;" (formSubmit)="addBudgetItem($event)" ></app-add-item-form>
    </div>
</section>

<hr style="margin-top: 0;">

<app-budget-item-list [budgetItemArray]="budgetItemArray" (delete)="deleteItem($event)" (update)="updateitem($event)"></app-budget-item-list>